---
import ProtectedLayout from '@/layouts/ProtectedLayout.astro'
import { getProductByID } from '@/lib/products'

const { id } = Astro.params

if (!id) {
    return new Response(null, {
        status: 404,
        statusText: 'not found',
    })
}
const product = await getProductByID(Number(id))
if (!product) {
    return new Response(null, {
        status: 404,
        statusText: 'product not found',
    })
}
---

<ProtectedLayout title="" accessPage="admin">
    <div class="card bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Detail Barang</div>
        <div class="divider"></div>
        <div>
            NamaBarang {product.nama_barang}
        </div>
    </div>
</ProtectedLayout>
