---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import TableOngkir from '@/components/TableOngkir.vue'
---

<DashboardLayout title="Products" accessPage="admin">
    <div class="card bg-base-100">
        <div class="card-body">
            <div class="card-title">List ongkir</div>
            <div>Klik Baris untuk edit ongkir</div>
            <div>
                <TableOngkir client:load />
            </div>
        </div>
    </div>
</DashboardLayout>
