---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import TableTransaction from '@/components/transaction/TableTransaction.vue'
import ButtonExport from '@/components/transaction/ButtonExport.vue'

import { auth } from '@/lib/auth'
import '@/styles/tables.css'

const currPermission = auth.payLoad(Astro).permission
---

<DashboardLayout title="History Pembayaran">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <div class="card-title justify-between">
                Histori Transaksi
                <div>
                    <ButtonExport client:load />
                </div>
            </div>
            <TableTransaction client:load permission={currPermission} />
        </div>
    </div>
</DashboardLayout>
