---
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

interface Props {
    productName: string
    class?: string
}

const { class: className = '', productName } = Astro.props
---

<div class={cn('breadcrumbs text-sm', className)}>
    <ul>
        <li>
            <a href="/" class="inline-flex items-center gap-2">
                <Icon name="mdi:home" size={20} />
                Home
            </a>
        </li>
        <li>
            <span>
                {productName}
            </span>
        </li>
    </ul>
</div>
