---
interface Props {
    class?: string
}

const { class: className } = Astro.props
---

<button id="signout" class={className} {...Astro.props}> signout </button>

<script>
    import { auth } from '@/lib/auth'
    import { navigate } from 'astro:transitions/client'
    document.addEventListener('astro:page-load', () => {
        document.querySelector('#signout')?.addEventListener('click', () => {
            auth.logOut()
            console.log('adaa')
            navigate('/signin')
        })
    })
</script>
