---

---

<div class="flex grid-cols-[1fr_350px] flex-col gap-8 md:grid">
    <div class="card bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Detail Barang</div>
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">NAMA</span>
            </label>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" />
            <div class="label">
                <span class="label-text-alt">ERROR</span>
            </div>
        </div>
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">Deskripsi</span>
            </label>
            <textarea class="textarea textarea-bordered h-24" placeholder="masuukan deskripsi"
            ></textarea>
            <div class="label">
                <span class="label-text-alt">ERROR</span>
            </div>
        </div>
    </div>
    <div class="card max-h-fit bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Status Barang</div>
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">Status</span>
            </label>
            <select name="status" class="select select-bordered">
                <option value="active">Active</option>
                <option value="draft">Draft</option>
            </select>
        </div>
    </div>
    <div class="card bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Detail Barang</div>
        <div class="divider"></div>
        <div>NamaBarang</div>
    </div>
    <div class="card bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Detail Barang</div>
        <div class="divider"></div>
        <div>NamaBarang</div>
    </div>
</div>
