---

---

<a href="/" class="group card card-compact w-full bg-base-100 shadow-xl">
    <figure class="relative">
        <img
            class="transision-transform scale-100 duration-300 group-hover:scale-110"
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
            alt="Shoes"
        />
        <div
            class="absolute bottom-0 left-0 right-0 h-full w-full transition-colors duration-300 group-hover:bg-neutral/10"
        >
        </div>
        <div
            class="absolute bottom-0 left-0 right-0 inline-flex h-10 w-full translate-y-1 items-center justify-center bg-primary font-semibold opacity-0 transition duration-300 group-hover:translate-y-0 group-hover:opacity-100"
        >
            BUY NOW
        </div>
    </figure>
    <div class="card-body z-10">
        <div class="card-title">
            <h class="group-hover:underline">Shoes!</h>
            <p class="text-right text-base">Rp 300.000</p>
        </div>
        <div class="card-actions items-center">
            <div>
                <div class="badge badge-primary">Fashion</div>
                <div class="badge badge-primary">Products</div>
            </div>
        </div>
    </div>
</a>
