---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import CreateProduct from '@/components/Products/CreateProduct.vue'
---

<DashboardLayout title="Create Product" accessPage="admin">
    <div class="card bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Buat Barang</div>
        <div class="divider"></div>
        <div>
            <CreateProduct client:load />
        </div>
    </div>
</DashboardLayout>
