---
import ProtectedLayout from '@/layouts/ProtectedLayout.astro'
import CreateProduct from '@/components/Products/CreateProduct.vue'
import Breadcrumb from '@/components/Breadcrumb.astro'
---

<ProtectedLayout title="Create Product" accessPage="admin">
    <div class="space-y-4">
        <Breadcrumb />
        <CreateProduct />
    </div>
</ProtectedLayout>
