---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import TableProducts from '@/components/Products/TableProducts.vue'
import { Icon } from 'astro-icon/components'
import '@/styles/tables.css'
---

<DashboardLayout title="Products" accessPage="admin">
    <div class="card flex flex-col bg-base-100 p-6 shadow-xl md:p-8">
        <div class="flex w-full justify-between">
            <div class="text-2xl font-semibold">List Barang</div>
            <a
                href="/dashboard/products/create"
                class="btn btn-success btn-sm text-success-content"
            >
                <Icon name="mdi:add-circle-outline" />
                Tambah</a
            >
        </div>
        <div class="divider"></div>
        <div>
            <TableProducts client:load />
        </div>
    </div>
</DashboardLayout>
