---
import ProtectedLayout from '../layouts/ProtectedLayout.astro'

import { auth } from '@/lib/auth'
import BaseLayout from './BaseLayout.astro'
import Header from '@/components/Dashboard/Header.astro'
import Sidebar from '@/components/Dashboard/Sidebar.astro'
import type { UserDetail } from '@/types'
import { cn } from '@/lib/utils'

interface Props {
    title: string
    accessPage?: 'admin' | 'user' | 'all'
    user?: UserDetail
    class?: string
}

const { user, accessPage = 'all', class: className = '' } = Astro.props
const currPermission = user ? user.role : auth.payLoad(Astro).permission
const show = accessPage == 'all' || accessPage == currPermission
---

<ProtectedLayout title={title}>
    <main>
        <Header>
            <Sidebar slot="sidebar" permission={currPermission} />
            {
                show ? (
                    <div class={cn('main min-h-full bg-base-200 p-4 md:p-6', className)}>
                        <slot />
                    </div>
                ) : (
                    <div>404</div>
                )
            }
        </Header>
    </main>
</ProtectedLayout>
