---
import Header from '@/components/Header.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
interface Props {
    title: string
}
---

<BaseLayout {...Astro.props}>
    <Header>
        <main>
            <slot />
        </main>
    </Header>
</BaseLayout>
