---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import SignupForm from '@/components/Auth/Signup.vue'
---

<DashboardLayout title="Create Product" accessPage="admin">
    <div class="card bg-base-100 p-6 shadow-xl md:p-8">
        <div class="text-2xl font-semibold">Buat User</div>
        <div class="divider"></div>
        <div>
            <SignupForm urlSuccress="/dashboard/users" client:load />
        </div>
    </div>
</DashboardLayout>
