---
import Layout from '@/layouts/Layout.astro'
import { getProducts } from '@/lib/products'
import Products from '@/components/Products/Products.astro'

const products = await getProducts({ skip: 0, limit: 10 })
---

<Layout title="Online shop">
    <main class="min-h-screen w-full">
        <div class="container">
            <Products products={products} />
        </div>
    </main>
</Layout>
