---
import { cn } from '@/lib/utils'

interface Props {
    class?: string
}

const { class: className = '' } = Astro.props
---

<div
    id="navbar"
    class={cn(
        'sticky top-0 z-20 flex h-16 w-full justify-center border-b border-base-200 bg-base-100 bg-opacity-90 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)]',
        className
    )}
>
    <nav class="navbar w-full">
        <slot />
    </nav>
</div>

<script>
    const navbar = document.querySelector<HTMLElement>('#navbar')
    if (navbar) {
        let offset = navbar.offsetHeight
        window.onscroll = function () {
            if (window.scrollY > offset - 10) {
                navbar.classList.add('shadow-sm')
            } else if (window.scrollY < offset - 20) {
                navbar.classList.remove('shadow-sm')
            }
        }
    }
</script>
