---
// import Cart from '../Cart/Cart.astro'
import { Icon } from 'astro-icon/components'
import MenuNav from './MenuNavbar.astro'
import BaseNavbar from './BaseNavbar.astro'
import { auth } from '@/lib/auth'

const cartHref = auth.isLogin(Astro) ? '/dashboard/wishlist' : '/signin'
---

<div class="drawer">
    <input id="navbar-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
        <BaseNavbar>
            <div class="flex-none lg:hidden">
                <label
                    for="navbar-drawer"
                    aria-label="open sidebar"
                    class="btn btn-square btn-ghost"
                >
                    <Icon name="mdi:hamburger-menu" size={24} />
                </label>
            </div>
            <a href="/" class="mx-2 flex-1 px-2 text-xl font-semibold">Online Shop</a>
            <div class="hidden flex-none lg:block">
                <MenuNav />
            </div>
            <div class="flex-none">
                <a
                    class="btn btn-circle btn-ghost drawer-button no-animation hover:bg-transparent"
                    href={cartHref}
                >
                    <div class="indicator">
                        <Icon name="mdi:cart-outline" size={20} />
                        <span class="badge indicator-item badge-primary badge-sm">8</span>
                    </div>
                </a>
                <!-- <Cart /> -->
            </div>
        </BaseNavbar>
        <div class="main">
            <!-- CONTENT -->
            <slot />
        </div>
    </div>
    <nav class="drawer-side z-20">
        <label for="navbar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <MenuNav oriented="vertical" />
    </nav>
</div>
