---
import Breadcrumb from '@/components/Breadcrumb.astro'
import ProductDisplay from '@/components/ProductDisplay.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="adada">
    <main class="container">
        <Breadcrumb class="py-6" />
        <ProductDisplay />
    </main>
</Layout>
