---
import Breadcrumb from '@/components/Breadcrumb.astro'
import ProductDisplay from '@/components/Products/ProductDisplay.astro'
import Layout from '@/layouts/Layout.astro'
import { auth } from '@/lib/auth'
import { getProductByID } from '@/lib/products'

const { id } = Astro.params

if (!id) {
    return new Response(null, {
        status: 404,
        statusText: 'not found',
    })
}

const product = await getProductByID(Number(id))
if (!product || (auth.payLoad(Astro).permission == 'user' && product.status == 'draft')) {
    return new Response(null, {
        status: 404,
        statusText: 'product not found',
    })
}
---

<Layout title="adada">
    <main class="container">
        <Breadcrumb class="py-6" />
        <ProductDisplay product={product} />
    </main>
</Layout>
