---
import SidebarItem from './SidebarItem.astro'
import items from './sidebar-items.json'
import { Icon } from 'astro-icon/components'

interface Props {
    permission: 'admin' | 'user'
}

const { permission } = Astro.props
---

<aside
    class="flex min-h-screen w-80 flex-col overflow-y-auto border-r border-base-200 bg-neutral text-neutral-content"
>
    <div class="group sticky top-0 inline-flex items-center gap-2 px-6 pt-4 text-xl font-semibold">
        <Icon name="mdi:shop" size={32} class="text-primary" />
        Online Shop
    </div>
    <ul class="menu">
        {items.map((item) => <SidebarItem currPermission={permission} {...item} />)}
    </ul>
</aside>
